@media only screen and (min-width: 1024px) {
  .container {
    display:flex;
    flex-direction: column;
    padding: 20px;
  }
}

@media screen and (min-width: 415px) and (max-width: 1023px){
  .site-container {
    flex-direction: row;
  }
  .container {
    padding: 5px;
  }
}
.site-container > * {
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
}

.App {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
input {
  display: block;
  width: 20rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 1.1em;
  font-weight: 500;
  border:solid 1px grey;
}
button {
  border: none;
  padding: 1rem;
  width: 21.2rem;
  font-size: 1.2em;
  border-radius: 0.2rem;
  cursor: pointer;
}
button:hover {
  background-color: #c5c5c5;
}
.message {
  font-size: 1.2em;
  text-align: center;
  color: #36a936;
}
.form-input, .form-button {
  padding: 5px;
}

.modal.show {
  display: block !important;
}
.modal-backdrop, .modal-overlay {
  display:none !important;
  z-index: 1040 !important;
}
.modal-content {
  z-index: 1100 !important;
}