body {
    font-family: sans-serif;
}

.table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    border: solid 1px gray;
}

.table_row_head {
    background-color: lightgray;
}

.table_row_head, .table_row {
    display: flex;
    justify-content: space-between;
}

.table_row {
    border-top: solid 1px gray;
}

.cell {
    display: flex;
    width: 20%;
    overflow-wrap: anywhere;
    justify-content: center;
    padding: 5px;
}

.cell:not(:first-child) {
    border-left: solid 1px gray;
}